/* Общие стили */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  justify-content: center;
  background-image: url("../image/background2.jpg");
}
/* Бургер-меню активное состояние */
.menu.active {
  display: block;
}

.burger-menu {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  position: fixed;
}

.burger-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.burger-icon span {
  width: 30px;
  height: 4px;
  background-color: black;
  transition: all 0.3s ease;
}

/* Скрываем меню по умолчанию */
.menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin: 10px 0;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* Анимация для открытия меню */
.menu.open {
  display: block;
}

/* Основные стили для страницы "Обо мне" */
.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.introduction h1,
.personal-story h2,
.travel-section h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #333;
  text-shadow: 2px 2px 5px rgba(142, 137, 137, 0.7);
}

.personal-story,
.travel-section {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  justify-content: center;
}

.photo-list {
  display: flex;
  justify-content: space-around;
}

.photo-item {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

.introduction p,
.personal-story p,
.travel-section p {
  font-size: 18px;
}

footer {
  text-align: center;
  margin-top: 50px;
}
